usr/bin/github_sponsor_flutter
usr/share/github_sponsor_flutter
usr/local/bin/github_sponsor_flutter
usr/bin/github-sponsor-flutter
usr/share/github-sponsor-flutter
usr/local/bin/github-sponsor-flutter
usr/local/share/github-sponsor-flutter